# Created by .ignore support plugin (hsz.mobi)
Scripts/
auth_env/Lib/site-packages/pip/_vendor/appdirs.pyc
auth_env/Lib/site-packages/pip/_vendor/cachecontrol/_cmd.pyc
auth_env/Lib/site-packages/pip/_vendor/distro.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_ihatexml.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_inputstream.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_tokenizer.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_trie/__init__.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_trie/_base.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_trie/datrie.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_trie/py.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/_utils.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/filters/base.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/serializer.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/treeadapters/genshi.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/treebuilders/base.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/treewalkers/base.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/treewalkers/etree_lxml.pyc
auth_env/Lib/site-packages/pip/_vendor/html5lib/treewalkers/genshi.pyc
auth_env/Lib/site-packages/pip/_vendor/ordereddict.pyc
auth_env/Lib/site-packages/pip/_vendor/packaging/markers.pyc
auth_env/Lib/site-packages/pip/_vendor/packaging/requirements.pyc
auth_env/Lib/site-packages/pip/_vendor/packaging/utils.pyc
auth_env/Lib/site-packages/pip/_vendor/pyparsing.pyc
auth_env/Lib/site-packages/pip/_vendor/requests/packages/urllib3/contrib/appengine.pyc
auth_env/Lib/site-packages/pip/_vendor/requests/packages/urllib3/contrib/socks.pyc
auth_env/Lib/site-packages/pip/_vendor/webencodings/__init__.pyc
auth_env/Lib/site-packages/pip/_vendor/webencodings/labels.pyc
auth_env/Lib/site-packages/pip/_vendor/webencodings/mklabels.pyc
auth_env/Lib/site-packages/pip/_vendor/webencodings/tests.pyc
auth_env/Lib/site-packages/pip/_vendor/webencodings/x_user_defined.pyc
auth_env/Lib/site-packages/pip/commands/check.pyc
auth_env/Lib/site-packages/pip/commands/download.pyc
auth_env/Lib/site-packages/pip/commands/hash.pyc
auth_env/Lib/site-packages/pip/operations/check.pyc
auth_env/Lib/site-packages/pip/utils/encoding.pyc
auth_env/Lib/site-packages/pip/utils/glibc.pyc
auth_env/Lib/site-packages/pip/utils/hashes.pyc
auth_env/Lib/site-packages/pip/utils/packaging.pyc
auth_env/Lib/site-packages/pip/utils/setuptools_build.pyc
auth_env/Lib/site-packages/requests/__init__.pyc
auth_env/Lib/site-packages/requests/_internal_utils.pyc
auth_env/Lib/site-packages/requests/adapters.pyc
auth_env/Lib/site-packages/requests/api.pyc
auth_env/Lib/site-packages/requests/auth.pyc
auth_env/Lib/site-packages/requests/certs.pyc
auth_env/Lib/site-packages/requests/compat.pyc
auth_env/Lib/site-packages/requests/cookies.pyc
auth_env/Lib/site-packages/requests/exceptions.pyc
auth_env/Lib/site-packages/requests/hooks.pyc
auth_env/Lib/site-packages/requests/models.pyc
auth_env/Lib/site-packages/requests/packages/__init__.pyc
auth_env/Lib/site-packages/requests/packages/chardet/__init__.pyc
auth_env/Lib/site-packages/requests/packages/chardet/big5freq.pyc
auth_env/Lib/site-packages/requests/packages/chardet/big5prober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/chardetect.pyc
auth_env/Lib/site-packages/requests/packages/chardet/chardistribution.pyc
auth
_env/Lib/site-packages/requests/packages/chardet/charsetgroupprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/charsetprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/codingstatemachine.pyc
auth_env/Lib/site-packages/requests/packages/chardet/compat.pyc
auth_env/Lib/site-packages/requests/packages/chardet/constants.pyc
auth_env/Lib/site-packages/requests/packages/chardet/cp949prober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/escprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/escsm.pyc
auth_env/Lib/site-packages/requests/packages/chardet/eucjpprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/euckrfreq.pyc
auth_env/Lib/site-packages/requests/packages/chardet/euckrprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/euctwfreq.pyc
auth_env/Lib/site-packages/requests/packages/chardet/euctwprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/gb2312freq.pyc
auth_env/Lib/site-packages/requests/packages/chardet/gb2312prober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/hebrewprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/jisfreq.pyc
auth_env/Lib/site-packages/requests/packages/chardet/jpcntx.pyc
auth_env/Lib/site-packages/requests/packages/chardet/langbulgarianmodel.pyc
auth_env/Lib/site-packages/requests/packages/chardet/langcyrillicmodel.pyc
auth_env/Lib/site-packages/requests/packages/chardet/langgreekmodel.pyc
auth_env/Lib/site-packages/requests/packages/chardet/langhebrewmodel.pyc
auth_env/Lib/site-packages/requests/packages/chardet/langhungarianmodel.pyc
auth_env/Lib/site-packages/requests/packages/chardet/langthaimodel.pyc
auth_env/Lib/site-packages/requests/packages/chardet/latin1prober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/mbcharsetprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/mbcsgroupprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/mbcssm.pyc
auth_env/Lib/site-packages/requests/packages/chardet/sbcharsetprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/sbcsgroupprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/sjisprober.pyc
auth_env/Lib/site-packages/requests/packages/chardet/universaldetector.pyc
auth_env/Lib/site-packages/requests/packages/chardet/utf8prober.pyc
auth_env/Lib/site-packages/requests/packages/idna/__init__.pyc
auth_env/Lib/site-packages/requests/packages/idna/codec.pyc
auth_env/Lib/site-packages/requests/packages/idna/compat.pyc
auth_env/Lib/site-packages/requests/packages/idna/core.pyc
auth_env/Lib/site-packages/requests/packages/idna/idnadata.pyc
auth_env/Lib/site-packages/requests/packages/idna/intranges.pyc
auth_env/Lib/site-packages/requests/packages/idna/uts46data.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/__init__.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/_collections.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/connection.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/connectionpool.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/contrib/__init__.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/contrib/appengine.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/contrib/ntlmpool.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/contrib/pyopenssl.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/contrib/socks.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/exceptions.pyc
Would
remove auth_env/Lib/site-packages/requests/packages/urllib3/fields.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/filepost.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/packages/__init__.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/packages/backports/__init__.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/packages/backports/makefile.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/packages/ordered_dict.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/packages/six.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/packages/ssl_match_hostname/__init__.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/packages/ssl_match_hostname/_implementation.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/poolmanager.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/request.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/response.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/__init__.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/connection.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/request.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/response.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/retry.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/selectors.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/ssl_.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/timeout.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/url.pyc
auth_env/Lib/site-packages/requests/packages/urllib3/util/wait.pyc
auth_env/Lib/site-packages/requests/sessions.pyc
auth_env/Lib/site-packages/requests/status_codes.pyc
auth_env/Lib/site-packages/requests/structures.pyc
auth_env/Lib/site-packages/requests/utils.pyc
auth_env/Lib/site-packages/stripe/__init__.pyc
auth_env/Lib/site-packages/stripe/api_requestor.pyc
auth_env/Lib/site-packages/stripe/error.pyc
auth_env/Lib/site-packages/stripe/http_client.pyc
auth_env/Lib/site-packages/stripe/importer.pyc
auth_env/Lib/site-packages/stripe/multipart_data_generator.pyc
auth_env/Lib/site-packages/stripe/resource.pyc
auth_env/Lib/site-packages/stripe/test/__init__.pyc
auth_env/Lib/site-packages/stripe/test/helper.pyc
auth_env/Lib/site-packages/stripe/test/resources/__init__.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_accounts.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_api_resource.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_apple_pay_domain.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_application_fees.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_balances.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_bitcoin.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_charges.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_country_specs.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_coupon.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_createable.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_customers.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_deletable.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_disputes.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_file_uploads.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_invoices.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_list_object.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_listable.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_metadata.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_plans.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_recipients.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_refunds.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_relay.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_reversals.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_sources.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_stripe_object.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_subscription_items.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_subscriptions.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_threedsecure.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_transfers.pyc
auth_env/Lib/site-packages/stripe/test/resources/test_updateable.pyc
auth_env/Lib/site-packages/stripe/test/test_error.pyc
auth_env/Lib/site-packages/stripe/test/test_http_client.pyc
auth_env/Lib/site-packages/stripe/test/test_integration.pyc
auth_env/Lib/site-packages/stripe/test/test_multipart_data_generator.pyc
auth_env/Lib/site-packages/stripe/test/test_requestor.pyc
auth_env/Lib/site-packages/stripe/test/test_util.pyc
auth_env/Lib/site-packages/stripe/util.pyc
auth_env/Lib/site-packages/stripe/version.pyc
templates/
